.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 20px;
    z-index: 1;
    background: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    transition-timing-function: ease-in;
    transition: all 0.5s;
    color: #fff;
}


.nav-logo {
    position: fixed;
    left: 20px;
    width: 120px;
    object-fit: contain;
}

.nav-list {
    color: white;
}

.nav-avatar {
    position: relative;
    margin-left: 10px;
    object-fit: contain;
}

.nav-container-black {
    background-color: #111;
}

.three {
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}